*{
    box-sizing: border-box;
    font-family:Poppins, Arial, Helvetica, sans-serif;
    margin: 0px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(151, 0, 151);
    border-radius: 35px;
}

#container{
    background-color: white;
    border-radius: 5px;
    position: absolute;
}

@media (max-width: 680px){
    #container{
        margin-top: 30px;
        width: 350px;
        height: 1660px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 680px) and (max-width:1000px)
{
    #container{
        margin-top: 30px;
        width: 675px;
        height: 1075px;
        left: 50%;
        transform: translateX(-50%);
    }   
}

@media (min-width: 1000px){
    #container{
        width: 1000px;
        height: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }
}

#container>div{
    display: inline-block;
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: rgb(228, 228, 228) 2px 2px 8px 1px, -2px -2px 8px 1px rgb(228, 228, 228);
    transition: 0.3s transform, box-shadow 0.3s, background-color 0.2s, color 0.2s;
    border-radius: 10px;
}

@media (max-width: 680px){
    #container>div{
        margin-left: 25px;
        margin-bottom: 50px;
    }
    #container>div:first-child{
        margin-top: 30px;
    }
}

@media (min-width: 680px) and (max-width:1000px)
{
    #container>div{
        margin: 25px 0px 25px 25px;
    }
    #container>div:last-child{
        margin: 0px auto;
        margin-left: 187.5px;
    }
}

@media (min-width: 1000px){
    #container>div{
    margin:25px 0px 0px 25px;

    }
}

#container>div:hover{
    transform: scale(1.06,1.06);
    box-shadow: rgb(228, 228, 228) 5px 5px 20px 2px, -5px 0px 25px 2px rgb(228, 228, 228);
    transition: 0.3s transform, box-shadow 0.3s, background-color 0.2s, color 0.2s;
    background-color: rgb(151, 0, 151);
    color: white;
}

h2{
    padding: 0px;
    text-align: center;
    margin:40px 0px;
}

h2>div{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    font-weight: 100;
}

.price{
    display: inline-block;
    margin: 0px;
    font-size: 40px;
    font-weight: 100;
}

.rs{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    font-size: 22px;
    top: -13px;
    left: 0px;
}

.divider{
    height: 1px;
    background-color: rgb(216, 216, 216);
    width: 80%;
    margin: 0px auto;
    margin-bottom: 40px;
}

.feature{
    margin: 10px 5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

img{
    width: 20px;
    position: relative;
    top: 4px;
    margin-left: 20px;
    margin-right: 10px;
}

.button{
    margin: 40px auto;
    width: 140px;
    height: 40px;
    background-color: rgb(160, 160, 144);
    border-radius: 5px;
    position: relative;
    border: solid rgb(151, 0, 151) 1px;
    background-color: white;
    transition: background-color 0.2s;
}

.button>p{
    font-family: -apple-system, sans-serif;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container>div:hover div[class="button"]{
    background-color: rgb(151, 0, 151);
    border: solid white 1px;
    transition: background-color 0.2s;
}

#container>div:hover div[class="button"]:hover{
    cursor: default;
    background-color: white;
    color: black;
}